<tui-root>
    <header>
        <ng-container *ngIf="!auth; else isAuth">
            <a
                class="button"
                routerLink="/videos"
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page"
                >Videos</a
            >
            <a
                class="button"
                routerLink="/login"
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page"
                >Login</a
            >
            <a
                class="button"
                routerLink="/registration"
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page"
                >Registration</a
            >
        </ng-container>

        <ng-template #isAuth>
            <a
                class="button"
                routerLink="/videos"
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page"
                >Videos</a
            >
            <a
                class="button"
                routerLink="/cart"
                routerLinkActive="activebutton"
                ariaCurrentWhenActive="page"
                >Cart</a
            >
            <button class="button" (click)="logout()">Logout</button>
        </ng-template>
    </header>

    <router-outlet></router-outlet>
</tui-root>
