.video-block {
    .video-cover {

    }

    .video-info {
        padding: 16px;

        display: flex;
        justify-content: center;
        align-items: center;

        .text {
            font: var(--tui-font-text-l);
        }

        // .delete-btn {
        //     margin-left: 10px;

        //     border-radius: 5px;
        //     background-color: rgb(225, 66, 66);

        //     cursor: pointer;
        // }
    }
}
