doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Blog
  body
    h1 Blog
    ul
      each article in articles
        li #{article.title}  
          a(href=`articles/${article.id}`) Читать
          a(href=`articles/${article.id}/update`) Редактировать
          a(href=`articles/${article.id}/delete`) Удалить
    a(href="articles/new") Создать