<ng-container *ngIf="course$ | async as course">
    <a tuiLink icon="tuiIconArrowLeft" iconAlign="left" routerLink="../">
        Ко всем курсам
    </a>

    <div class="course">
        <div class="course-info">
            <p class="course-name">{{ course.name }}</p>
            <span class="edit">
                <button
                    tuiButton
                    type="button"
                    icon="tuiIconRemoveLarge"
                    appearance="accent"
                    shape="rounded"
                    size="s"
                    (click)="showRemoveCourseDialog()"
                >
                    Удалить курс
                </button>
            </span>
        </div>

        <div class="course-content">
            <p class="header">Материалы</p>

            <tui-accordion-item class="container">
                Видеоуроки
                <ng-template tuiAccordionItemContent>
                    <div class="course-videos" #content>
                        <app-videos-list
                            [courseId]="courseId"
                        ></app-videos-list>
                    </div>
                </ng-template>
            </tui-accordion-item>
        </div>

    </div>
    
    <router-outlet></router-outlet>
</ng-container>
