.course {
    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .course-name {
            margin: 1rem 0;

            font: var(--tui-font-heading-3);
        }
    }

    &-content {
        .header {
            margin: 3rem 0 1rem;
            font: var(--tui-font-text-xl);
        }
    }
}
