<ng-container *ngIf="course$ | async as course">
    <div class="course">
        <div class="course-info">
            <p class="course-name">{{ course.name }}</p>
            <span class="edit">
                <button
                    tuiButton
                    type="button"
                    icon="tuiIconRemoveLarge"
                    appearance="accent"
                    shape="rounded"
                    size="s"
                    (click)="showRemoveCourseDialog()"
                >
                    Удалить курс
                </button>
            </span>
        </div>

        <div class="course-content">
            <p class="header">Материалы</p>

            <div class="course-videos">
                <app-videos-list [courseId]="courseId"></app-videos-list>
            </div>
        </div>
    </div>
</ng-container>
