form {
    display: flex;
    flex-direction: column;

    width: 200px;
}

form input:not(:last-child) {
    border-radius: 4px;
    margin-bottom: 10px;
}

form button[disabled] {
    border-left: 5px solid #a94442;
}

// form button:not(disabled) {
//     border-left: 5px solid #42a948;
// }

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}
