<div class="registration">
    <span class="registration-title tui-space_bottom-5">Регистрация</span>

    <form
        class="registration-form"
        [formGroup]="registrationForm"
        (ngSubmit)="onSubmit()"
    >
        <label tuiLabel="Имя пользователя">
            <tui-input
                tuiTextfieldSize="s"
                class="tui-space_bottom-5"
                formControlName="fullname"
                >Имя
            </tui-input>
        </label>

        <label tuiLabel="Логин">
            <tui-input
                tuiTextfieldSize="s"
                class="tui-space_bottom-5"
                formControlName="email"
                >Почта аккаунта
            </tui-input>
        </label>

        <label tuiLabel="Пароль">
            <tui-input-password
                tuiTextfieldSize="s"
                class="tui-space_bottom-5"
                formControlName="password"
                >Пароль
            </tui-input-password>
        </label>

        <div class="registration-btns tui-space_top-3">
            <button tuiButton type="button" size="s" routerLink="../">
                Назад
            </button>
            <button
                tuiButton
                type="submit"
                size="s"
                [disabled]="!registrationForm.valid"
            >
                Зарегистрироваться
            </button>
        </div>
    </form>
</div>
