<h2>Courses</h2>

<form class="search-form">
    <div>
        <tui-input
            tuiTextfieldSize="s"
            [formControl]="searchForm"
        >
            Enter a course
        </tui-input>
    </div>
</form>

<ng-container *ngIf="courses$ | async as courses">
    <ng-container *ngFor="let course of courses">
        <app-course
            [course]="course"
            (click)="openCourse(course._id)"
            (onDeleteCourseEvent)="onDeleteCourse($event)"
        ></app-course>
    </ng-container>
</ng-container>

<!-- <button class="upload-btn" (click)="changeFormVisibility()">New course</button>
<button class="delete-btn" (click)="onDeleteVideos()">Delete all courses</button> -->

<!-- <ng-container *ngIf="isFormShown; else videos">
    <form [formGroup]="videoForm" (ngSubmit)="onSubmit()">
        <label for="video-name">Video name: </label>
        <input type="text" id="video-name" formControlName="videoName" />

        <label for="video-file">Video: </label>
        <input
            type="file"
            id="video-file"
            formControlName="videoFile"
            (change)="onVideoFileChange($event)"
        />

        <label for="video-cover">Cover for video: </label>
        <input
            type="file"
            id="video-cover"
            formControlName="videoCover"
            (change)="onVideoCoverChange($event)"
        />

        <button class="upload-btn" type="submit">Create video</button>
    </form>
</ng-container>

<ng-template #videos>
    <ng-container *ngIf="videos$ | async as videos">
        <ng-container *ngFor="let video of videos">
            <app-video
                (onDeleteVideoEvent)="onDeleteVideo($event)"
                [video]="video"
            ></app-video>
        </ng-container>
    </ng-container>
</ng-template>
 -->
