.courses-list {
    .header {
        margin: 1rem 0 1rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        font: var(--tui-font-heading-5);
    }

    .search-form {
        margin: 0 0 2.5rem;
    }
}

.edit-block {
    margin-bottom: 15px;
}

.edit button:not(:last-child) {
    margin-right: 15px;
}
