<h2>Videos list</h2>

<input
    type="file"
    multiple
    class="file-input"
    (change)="onFileSelected($event)"
    #fileUpload
/>

<div class="file-upload">
    {{ 'No selected file' }}

    <button color="primary" class="upload-btn" (click)="fileUpload.click()">
        Upload file
    </button>
</div>

<ng-container *ngIf="videos$ | async as videos">
    <ng-container *ngFor="let video of videos">
        <app-video (onDeleteVideoEvent)="onDeleteVideo($event)" [video]="video"></app-video>
    </ng-container>
</ng-container>
