.login {
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // border: 1px solid var(--tui-base-03);
    // border-radius: 5px;

    &-title {

        font: var(--tui-font-heading-6);
    }

    &-form {
        min-width: 300px;
        min-height: 300px;

        max-width: 300px;

        display: flex;
        flex-direction: column;
    }

    &-btns {
        display: flex;
        justify-content: space-between;
    }
}
