form {
    display: flex;
    flex-direction: column;

    width: 200px;

    margin-bottom: 15px;
}

form input:not(:last-child) {
    border-radius: 4px;
    margin-bottom: 10px;
}

form button[disabled] {
    border-left: 5px solid #a94442;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

.auth-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
