@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    margin: -2rem;
}

.wrapper {
    border-bottom: 1px solid var(--tui-base-04);

    display: flex;
    align-items: center;
    padding: 1rem 2rem 0;

    background-color: var(--tui-base-02);
}

.title {
    float: left;

    margin: 0;
    min-width: 26rem;

    font: var(--tui-font-heading-5);
}

.tabs {
    width: calc(100% - 26rem);
    justify-content: flex-end;

    box-shadow: none;
}

.icon {
    margin-left: 0.25rem;

    &_rotated {
        transform: rotate(180deg);
    }
}
