<div tuiMode="onLight" class="wrapper">
    <div class="title">
        <a tuiTab routerLink="./" routerLinkActive>
            Образовательная платформа
        </a>
    </div>
    <tui-tabs class="tabs">
        <a tuiTab routerLink="./courses" routerLinkActive> Курсы </a>
        <a tuiTab routerLink="./profile" routerLinkActive> Мой профиль </a>
        <button
            tuiButton
            type="button"
            appearance="outline"
            size="s"
            (click)="onLogout.emit()"
        >
            Выход
        </button>
    </tui-tabs>
</div>
