@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    margin: -2rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem 0.5rem;

    background-color: var(--tui-base-02);
}

.title {
    font: var(--tui-font-heading-5);

    min-width: 15.625rem;
    margin: 0;
}

.tabs {
    width: calc(100% - 15.625rem);
    justify-content: space-around;
    align-items: center;
    box-shadow: none;
}

.icon {
    margin-left: 0.25rem;

    &_rotated {
        transform: rotate(180deg);
    }
}
