<div tuiMode="onLight" class="wrapper">
    <h1 class="tui-text_h4 title">
        <a tuiTab routerLink="./" routerLinkActive> Media Platform </a>
    </h1>
    <tui-tabs class="tabs">
        <a tuiTab routerLink="./courses" routerLinkActive> Courses </a>
        <a tuiTab routerLink="./profile" routerLinkActive> Profile </a>
        <button
            tuiButton
            type="button"
            appearance="outline"
            size="s"
            (click)="onLogout.emit()"
        >
            Logout
        </button>
    </tui-tabs>
</div>
