<header>
    <ng-container>
        <a
            class="button"
            routerLink="./courses"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            >Courses</a
        >
        <a
            class="button"
            routerLink="./profile"
            routerLinkActive="activebutton"
            ariaCurrentWhenActive="page"
            >Profile</a
        >
        <button class="button" (click)="logout()">Logout</button>
    </ng-container>
</header>

<router-outlet></router-outlet>
