.header {
    margin: 0.5rem 0 0.5rem;

    display: flex;
    align-items: center;

    justify-content: flex-end;

    font: var(--tui-font-text-l);
}

.edit-block {
    margin-bottom: 15px;
}

.edit button:not(:last-child) {
    margin-right: 10px;
}

.videos-list {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
}
