<div class="videos">
    <div class="header">
        <span>Видеоуроки</span>
        <span class="edit">
            <button
                tuiButton
                type="button"
                icon="tuiIconPlusLarge"
                appearance="secondary"
                shape="rounded"
                size="s"
                (click)="showCreateVideoDialog()"
            >
                Загрузить видео
            </button>
            <button
                tuiButton
                type="button"
                icon="tuiIconRemoveLarge"
                appearance="accent"
                shape="rounded"
                size="s"
                (click)="showRemoveVideosDialog()"
            >
                Удалить все видео курса
            </button>
        </span>
    </div>

    <ng-container *ngIf="videos$ | async as videos">
        <div class="videos-list">
            <ng-container *ngFor="let video of videos">
                <app-video
                    class="video"
                    [video]="video"
                    (click)="openVideo(video._id)"
                    (onDeleteVideoEvent)="onDeleteVideo($event)"
                ></app-video>
            </ng-container>
        </div>
    </ng-container>
</div>
